html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 300px;
  margin: auto;
  line-height: 18;
  background-color: rgb(194, 61, 0);
  
  font-size: 1.125rem;

  text-align: center;
  color: white;

  text-shadow: 5px 5px 5px black;

  border-radius: 15px;
  border: 1px solid rgb(131, 41, 0);

  background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));

  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6), 2px 2px 5px black;
}